uniform[0-9]
exponential[0-9]
gaussian[0-9]
lognormal[0-9]
weibull[0-9]
merlang[0-9]
discreteuniform[0-9]
naivearbitrarydiscrete[0-9]
qplacearbitrarydiscrete[0-9]
bernoulli[0-9]
binomial[0-9]
geometric[0-9]
negativebinomial[0-9]
poisson[0-9]
gamma[0-9]
beta[0-9]
pearsontypev[0-9]
pearsontypevi[0-9]
